<header class="site-header">
<div class="container">
    <a class="site-brand" routerLink="/">
        <img class="logo" src="assets/images/logo-with-name.png" alt="Pomodify" />
    </a>

    <nav class="nav">
        <a routerLink="/" class="nav-link">Home</a>

        <div class="nav-link dropdown" tabindex="0">
        <span>Features</span>
        <span class="caret">▾</span>
        <div class="menu">
            <a class="menu-item" (click)="scrollToFeature('activities')">Create and manage activities</a>
            <a class="menu-item" (click)="scrollToFeature('timers')">Start and track Pomodoro sessions</a>
            <a class="menu-item" (click)="scrollToFeature('notes')">Add session notes</a>
            <a class="menu-item" (click)="scrollToFeature('reports')">View reports and progress</a>
            <a class="menu-item" (click)="scrollToFeature('accounts')">Manage user accounts securely</a>
        </div>
        </div>

        <a routerLink="/subscribe" class="nav-link">Subscribe</a>
        <button class="theme-toggle-btn" (click)="onToggleTheme()" aria-label="Toggle Theme">Toggle Theme</button>
    </nav>
    </div>
</header>
