/* Global Styles */
body {
  margin: 0;
  padding: 0;
  transition: transform 0.4s ease;
}

body.menu-open {
  overflow: hidden;
}

/* Push main content down when menu is open on mobile */
@media (max-width: 768px) {
  body.menu-open {
    transform: translateY(500px);
    overflow-y: scroll;
  }
}

@media (max-width: 480px) {
  body.menu-open {
    transform: translateY(350px);
  }
}
